<div class="aboutPage">
  <span class="pageHeader">About Tasarruf</span>
  <h1 class="sectionTitle">What is Tasarruf?</h1>
  <p class="sectionText">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati corrupti
    voluptas perferendis accusantium corporis voluptates rerum quaerat neque rem
    nesciunt fugit nisi illum placeat quisquam, iusto quod, impedit incidunt
    voluptatum!
  </p>

  <h1 class="sectionTitle">How Tasarruf Works ?</h1>
  <p class="sectionText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis
    delectus explicabo facilis magni tempora enim maiores quaerat quae, dolorum
    suscipit, ex iste mollitia aperiam. Corrupti debitis repellat quisquam sed!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis
    delectus explicabo facilis magni tempora enim maiores quaerat quae, dolorum
    suscipit, ex iste mollitia aperiam. Corrupti debitis repellat quisquam sed!
    delectus explicabo facilis magni tempora enim maiores quaerat quae, dolorum
    suscipit, ex iste mollitia aperiam. Corrupti debitis repellat quisquam sed!
  </p>
</div>
